@import url(http://fonts.googleapis.com/css?family=Megrim|Roboto+Slab:700,400);

body {
  background-image: url('../images/gplaypattern.png');

  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Megrim', cursive;
  margin: 24px 0 14px;
  /*text-align: center;*/
}

h2, h3, h4, h5, h6 {
  border-bottom: 2px dotted gray;
}

h1 {
  font-size: 6em;
  color: rgb(255, 19, 139);
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

p {
  line-height: 24px;
}

.image-frame {
  padding: 10px;
  border: solid 1px #DDDDDD;
  border-radius: 5px;
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

header {
  max-width: 900px;
  display: block;
  margin: auto;
  padding: 0 80px;
}

#layout {
  max-width: 900px;
  display: block;
  margin: auto;
  padding: 0 80px;
}

a {
  color: rgb(229, 33, 133);
  transition: all .3s linear 0;
  text-decoration: none;
}

a:hover {
  color: rgba(229, 33, 133, .8);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  line-height: 40px;
  text-align: left;
  font-family: 'Megrim', cursive;
  font-size: 19px;
}

nav a {
  display: block;
  border-bottom: none;
  background-color: rgba(241, 241, 241, 0.72);
  transition: all .4s linear 0;
}

nav a:hover {
  background-color: rgba(197, 225, 250, 0.79);
}

nav li ul {
  position: absolute;
  display: none;
}

nav li:hover ul {
  display: block;
}

nav li ul li {
  display: block;
}

nav ul li {
  text-align: center;
}

nav > ul > li > a {
  padding-left: 0;
}

@media screen and (min-width: 650px) {
  nav li {
    width: 168px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-family: 'Megrim', cursive;
    font-size: 19px;
    display: inline-block;
    margin-right: -4px;
  }

  nav a {
    border-bottom: none;
  }

  nav > ul > li {
    text-align: center;
  }

  nav > ul > li > a {
    padding-left: 0;
  }

  nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  nav li:hover ul {
    display: block;
  }

  nav li ul li {
    display: block;
  }
}

section > ul > li > ul > li {
  display: inline;
}

section > ul > li > ul > li:hover {
  border-bottom: dotted 2px gray;
}